
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root{
    --Princ:linear-gradient(180deg, rgba(10,77,104,1) 0%, rgba(5,191,219,1) 100%);
}
*/ {
    margin: 0px;
    padding: 0px;
  }

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: var(--Princ);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.said {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    background: none;
    border-radius: 3rem;
    border: 0.2rem solid #e6e6e6;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.btn {
    padding: 8px 15px;
    border: 0;
    background: none;
    color: white;
    border-radius: 2px;
    margin-top: 2rem;
}

